<body>
    <main>
        <ng-container *ngIf="task">
            <div class="task">
                <ng-container *ngIf="task.priority === 'LOW'">
                    <img class="task-priority" src="assets/Low.png" alt="priority"/>
                </ng-container>
                <ng-container *ngIf="task.priority === 'MEDIUM'">
                    <img class="task-priority" src="assets/Medium.png" alt="priority"/>
                </ng-container>
                <ng-container *ngIf="task.priority === 'HIGH'">
                    <img class="task-priority" src="assets/High.png" alt="priority"/>
                </ng-container>
                <p class="task-description">{{task.description}}</p>
                <button mat-mini-fab color="warn" class="delete-button" (click)="onDelete(task)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>
    </main>
</body>