<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
             required
             [(ngModel)]="task.description" name="description"
             #description="ngModel">
      <div [hidden]="description.valid || description.pristine"
           class="alert alert-danger">
        Description is required
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!taskForm.form.valid">Submit</button>
</form>
