.title {
    padding-top: 1rem;
    text-align: center;
    font-weight: lighter;
}

.horizontal-line {
    padding-left: 1rem;
    padding-right: 1rem;
}

.body {
    padding: 1rem;
}

.grid-even-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 0.5rem;
}

.button-container {
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column {
    background: var(--support-white-grey, #F9F9F9);
    padding: 1rem;
    &-header {
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.empty {
    text-align: center;
    padding-top: 10rem;
}

.drop-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: var(--support-white-grey, #F9F9F9);
    border-radius: 4px;
    overflow: hidden;
    display: block;
}
.task {
    padding: 1rem;
}

.task:last-child {
    border: none;
    flex-direction: row;
    cursor: move;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.task-list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
